*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titlesIndex{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

h3{
  font-size: 50px;
}

a{
  display: flex;
  align-items: center;
  margin-right: 10px; 
  text-decoration: none;
}

.tarjetas{
  display: flex;
  justify-content: center;
  margin: 10px;
}

.card{
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.spaceBottom{
  margin-bottom: 100px;
}

.login{
  width: 150px;
}