*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titlesIndex{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

h3{
  font-size: 50px;
  font-family: 'Comfortaa', sans-serif;
  font-weight: bold;
}
h5{
  font-weight: bold;
}

a{
  display: flex;
  align-items: center;
  margin-right: 10px; 
  text-decoration: none;
}

.tarjetas{
  display: flex;
  justify-content: center;
  margin: 10px;
  font-family: 'Comfortaa', sans-serif;
}

.card{
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.spaceBottom{
  margin-bottom: 300px;
}

.login{
  width: 150px;
}
p{
  font-size: 15px;
}

.faviconProfile{
  border-radius: 50px;
}

.nameUserInSession{
  text-decoration: none;
}

.btnHome{
  text-decoration: none;
}

.formDelete{
  padding: 0;
  width: 55px;
}

.divDelete{
  display: flex;
  flex-direction: row;
  margin: 3px;
}