* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
*,*:before, *:after{
  box-sizing: inherit;
}

.navegacion-principal {
  background: rgb(235,185,240);
  background: linear-gradient(90deg, rgba(235,185,240,1) 10%, rgba(158,241,104,1) 50%, rgba(237,165,236,1) 90%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 45px;
  font-family: 'Comfortaa', sans-serif;
  text-decoration: none;
}
h1 {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: 'Comfortaa', sans-serif;
  font-weight: bold;
  font-size: 500px;
}

.footerCompleto{
  background: rgb(69,179,252);
  background: linear-gradient(90deg, rgba(69,179,252,1) 5%, rgba(212,29,253,0.4601739621629902) 51%, rgba(69,179,252,0.35933362602853647) 93%);
  text-align: left;
  font-family: 'Comfortaa', sans-serif;
  font-weight: bold;
  width: 100vw;
  height: 10vh;
}
@media (max-with: 1140px){
  .body{
    height: 35vh;
    max-width: 1100px;
  }


}
