
<form action="">
    <div class="album py-5 bg-light">
        <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
            <div class="card shadow-sm">
                <img src="https://assets.petco.com/petco/image/upload/c_pad,dpr_1.0,f_auto,q_auto,h_636,w_636/c_pad,h_636,w_636/1336380-center-1" alt="">
                <div class="card-body">
                <p class="card-text">Hill's Science Diet Adult Chicken Recipe Dry Cat Food.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">Food</small>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</form>
 
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>